.array-task-container {
    margin-bottom: 25px;
    margin-top: 25px;
}

.inputs-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

table {
    color: #fff;
    width: 100%;
    border-spacing: 0;
    margin-top: 15px;
}

table thead {
    background-color: #363d48;
}

table th {
    padding: 5px 0;
}

table tbody tr:nth-child(even) {
    background-color: #20242b;
}

table td {
    font-size: 12px;
    text-align: center;
    padding: 5px 0;
    margin: 0;
}
  