* {
  position: relative;
  box-sizing: border-box;
}
body {
  font-family: 'Lato', sans-serif;
  background: linear-gradient(90deg, #1c213d 0%, #222a30 100%);
  background: #222a30;
  margin: 0;
}

.main-container {
  position: relative;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.container {
  max-width: 900px;
  width: 70%;
  margin: 0 auto;
}
.info-container {
  text-align: center;
}

.info-container p {
  color: #FFF;
  font-weight: bold;
}

@media (max-width: 900px) {
  .container {
    width: 95%;
  }
}

button {
  outline: none;
  border: 0;
  padding: 0 25px;
  height: 35px;
  border-radius: 4px;
  font-weight: bold;
  cursor: pointer;
  margin: 0 10px;
  filter: drop-shadow(1px 1px 2px rgba(255,255,255,0.25));
}

button:hover {
  filter: drop-shadow(1px 1px 2px rgba(255,255,255,0.45));
}

button.red {
  color: #FFF;
  background-color: #b45639;
}

button.green {
  color: #FFF;
  background-color: #588848;
}

button.yellow {
  color: #FFF;
  background-color: #c8a014;
}

input {
  height: 35px;
  color: #222a30;
  font-weight: bold;
  background-color: #FFF;
  border-radius: 4px; 
  margin: 0 10px;
  outline: none;
}

input.green {
  border:2px solid #588848;
}

label {
  font-weight: bold;
  color: #FFF;
}