* {
  position: relative;
  box-sizing: border-box;
}
body {
  font-family: 'Lato', sans-serif;
  min-width: 1100px;
  background: linear-gradient(90deg, #1c213d 0%, #222a30 100%);
  background: #222a30;
  margin: 0;
}

.container {
  max-width: 900px;
  width: 70%;
  margin: 0 auto;
}
.phone {
  min-height: 550px;
}
.phone img {
  position: absolute;
}
.phone img.phone-image {
  top: 0;
  left: 50%;
}
.phone img.card-image {
  top: 40px;
  left: calc(50% + 250px);
}
.phone p.title {
  max-width: calc(40% + 100px);
  color: #fff;
  font-size: 16px;
}
.phone p.title a {
  font-weight: 600;
}
h3 {
  color: #fff;
  font-size: 32px;
  max-width: 40%;
}
a {
  color: #fff;
}
form {
  display: flex;
  width: calc(50% + 15px);
  justify-content: space-between;
  margin: 50px 0 0 0;
}
form .input-wrapper {
  background-color: #353b4a;
  color: #8a8ca8;
  padding: 10px;
  font-size: 12px;
  border-radius: 10px;
  margin: 0 10px 0 0;
}
form .input-wrapper input {
  display: block;
  background-color: #353b4a;
  border: 0;
  margin: 3px 0 0 0;
  outline: none;
  color: #fff;
  font-size: 12px;
  font-weight: 600;
}
form .user-code {
  width: 80px;
}
form .user-code::before {
  content: '+';
  top: 28px;
  position: absolute;
  color: #fff;
  font-weight: 800;
  font-size: 12px;
}
form .user-code input {
  width: 25px;
  margin: 3px 0 0 7px;
}
form .user-phone {
  flex-grow: 1;
}
form .user-phone input {
  width: 100%;
}
form button {
  background-color: #6e7ffc;
  border: 0;
  color: #fff;
  font-weight: 600;
  font-size: 12px;
  border-radius: 10px;
  padding: 0 30px;
  cursor: pointer;
  outline: none;
}
.small-cards {
  color: #fff;
  display: flex;
  margin: 40px 0 0 0;
}
.small-cards .card {
  display: flex;
  align-items: center;
  margin: 0 15px 0 0;
  width: 150px;
}
.small-cards .card i {
  min-height: 28px;
  min-width: 28px;
  margin: 0 5px 0 0;
  padding: 6px;
  border-radius: 50%;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
}
.small-cards .card .bg-green {
  background-color: #27dc8f;
}
.small-cards .card .bg-purple {
  background-color: #8643af;
}
.small-cards .card .content {
  margin: 0;
  padding: 0;
}
.small-cards .card .content-wrapper {
  flex-grow: 1;
}
.small-cards .card .content-large {
  font-size: 12px;
  font-weight: 600;
}
.small-cards .card .content-small {
  font-size: 10px;
}
.large-cards {
  color: #fff;
  display: flex;
  margin: 40px 0 0 0;
  max-width: calc(50% + 230px);
}
.large-cards .card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 0 15px 0 0;
  padding: 15px;
  border-radius: 15px;
  width: 150px;
  background-color: #363d48;
}
.large-cards .card i {
  min-height: 36px;
  min-width: 36px;
  margin: 0 0 5px 0;
  padding: 6px;
  border-radius: 50%;
  font-size: 18px;
  line-height: 24px;
  text-indent: 1px;
  text-align: center;
}
.large-cards .card .bg-yellow {
  background-color: #f7cb48;
}
.large-cards .card .bg-pink {
  background-color: #fec4dd;
}
.large-cards .card .bg-purple {
  background-color: #7a61ed;
}
.large-cards .card .bg-red {
  background-color: #cb282b;
}
.large-cards .card p {
  margin: 0;
  padding: 0;
}
.large-cards .card p.content-large {
  font-size: 16px;
  font-weight: 600;
}
.large-cards .card p.content-small {
  font-size: 14px;
}
.colored-cards {
  display: flex;
  justify-content: space-between;
}
.colored-cards-body {
  flex-grow: 1;
  padding: 0 10px;
}
.colored-cards-control {
  color: #fff;
  display: flex;
  padding: 0 10px;
  align-items: center;
  font-weight: 800;
  cursor: pointer;
  user-select: none;
}
.colored-cards .colored-cards-body {
  overflow: hidden;
  max-width: 860px;
}
.colored-cards .colored-cards-body .cards-wrapper {
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.colored-cards .colored-cards-body .cards-wrapper .card {
  min-width: 200px;
  max-width: 200px;
  height: 320px;
  padding: 10px;
  border-radius: 10px;
  margin: 0 10px 0 0;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.colored-cards .colored-cards-body .cards-wrapper .card img {
  margin: 10px 0;
}
.colored-cards .colored-cards-body .cards-wrapper .card p {
  text-align: center;
}
.colored-cards .colored-cards-body .cards-wrapper .card p.content-large {
  font-weight: 600;
  font-size: 18px;
  margin: 0 0 15px 0;
}
.colored-cards .colored-cards-body .cards-wrapper .card p.content-small {
  font-weight: 600;
  font-size: 12px;
  margin: 0;
}
.colored-cards .colored-cards-body .bg-yellow {
  background-color: #c8a014;
}
.colored-cards .colored-cards-body .bg-pink {
  background-color: #8761a6;
}
.colored-cards .colored-cards-body .bg-purple {
  background-color: #4c29c6;
}
.colored-cards .colored-cards-body .bg-red {
  background-color: #b45639;
}
.colored-cards .colored-cards-body .bg-green {
  background-color: #588848;
}
.colored-cards .colored-cards-body .bg-brown {
  background-color: #96693b;
}
.colored-cards .colored-cards-body .bg-cyan {
  background-color: #0078ab;
}
.needed-content {
  margin-top: 40px;
}
.needed-content ul {
  color: #fff;
  list-style: none;
  padding: 0;
}
.needed-content ul li {
  display: inline;
  font-size: 12px;
  background-color: #363d48;
  padding: 2px 8px 2px 18px;
  border-radius: 10px;
  margin: 0 5px 0 0;
  cursor: pointer;
}
.needed-content ul li::before {
  background-color: #20242b;
  position: absolute;
  left: 3px;
  top: 3px;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  line-height: 10px;
  text-indent: 3px;
  content: 'x';
}
.needed-content table {
  color: #fff;
  width: 100%;
  border-spacing: 0;
}
.needed-content table thead {
  background-color: #363d48;
}
.needed-content table th {
  padding: 5px 0;
}
.needed-content table tbody tr:nth-child(even) {
  background-color: #20242b;
}
.needed-content table td {
  font-size: 12px;
  text-align: center;
  padding: 5px 0;
  margin: 0;
}
.footer {
  padding: 20px 50px;
  background-color: #363d48;
  margin: 40px 0 0 0;
}
.footer div {
  display: flex;
  justify-content: space-between;
}
.footer p {
  margin: 0;
  font-size: 12px;
  color: #fff;
}
.footer-title {
  font-weight: 600;
}
.footer-copy {
  font-size: 13px;
}
