* {
  position: relative;
  box-sizing: border-box;
}

body {
  font-family: 'Lato', sans-serif;
  min-width: 1100px;
  background: linear-gradient(90deg, #1c213d 0%, #222a30 100%);
  background: #222a30;
  margin: 0;
  min-height: 100vh;
  position: relative;
}

#root {
  min-height: 100vh;
  position: relative;
}